<h1>My Todo List</h1>
<p><%= link_to('Add New Todo', new_path) %></p>
<% @mytodos.each do |todo|%>
      <article class="tile">
    <h2> <%= link_to(todo.title, show_path(todo[:id]))%></h2>
    <p class="link"><%= link_to('Edit', edit_path(todo.id)) %></p>
        <% if todo.finished
        button_label = "Mark Not complete"
        else
        button_label = "Mark complete"
        end %>
  <%end%>
    </article>
